body
{

	background-image: url(n.jpg);
	background-size: 100%;
	background-repeat:no-repeat;

	
}
div#A
{ 
width:1050px;
height:880px;
background-color:rgb(188,235,224);
margin-left:150px;
margin-right:300px;
margin-top:5px;
position:absolute;
}
button
{
	width:250px;
	height:40px;
	font-size: 20px;
	border-radius: 25px;
	background-image:url(B.gif);
	background-size:100%;
	padding-left:10px;
	
}
button:hover
{
	color:black;
}
button
{
	color: white;
}
button:focus
{
	outline: none;
}
p#W
{
    margin-left:10px;
	font-size:30px;
	color:black;
}
input[type=textbox1]
{
	width:200px;
	height:25px;
	font-size: 15px;
	border: 1px solid black;
	padding-left:20px;
	background-color:white;
}
ul
{
list-style-type:none;
margin:10px;
background-color:rgb(53,196,189);
padding:0px;
overflow:hidden;
}
li
{
float:left;
}
li a
{
display:block;
text-decoration:none;
color:white;
padding:10px;
font-size:20px;
}
li a:hover
{
background-color:black;
}
div#loginscr
{
	width: 400px;
	height: 500px;
	background-color:white;
	border-radius:50px;
	margin-left:475px;
    margin-right:250px;
    margin-top:205px;
    margin-bottom:125px;
    position:absolute;
	
}
img
{
	margin-top:-50px;
	border-radius:60px;
}
input[type=textbox]
{
	width:250px;
	height:40px;
	font-size: 20px;
	border: none;
	border-bottom: 4px solid rgb(53,196,189);
	background-color: white;
	background-image:url(u.png);
	background-repeat:no-repeat;
	background-size:35px;
	padding-left:50px;
	background-color:inherit;
}
input[type=password]
{
	width:250px;
	height:40px;
	font-size: 20px;
	border: none;
	border-bottom: 4px solid rgb(53,196,189);
	background-color: white;
	background-image:url(p.png);
	background-repeat:no-repeat;
	background-size:35px;
	padding-left:50px;
	background-color:inherit;
	
}
input[type=submit]
{
	width:250px;
	height:40px;
	font-size: 20px;
	border-radius: 25px;
	background-color:rgb(53,196,189);
	padding-left:18px;
	
}
input[type=submit]:hover
{
	color:black;
}
input[type=password]:focus
{

	outline: none;
}
input[type=textbox]:focus
{
	outline: none;
}
input[type=submit]
{
	color: white;
}
input[type=textbox]:focus
{
	outline: none;
}
input[type=password]:focus
{
	outline: none;
}
input[type=submit]:focus
{
	outline: none;
}
